body{
    font-size: 0.16rem;
}
*{
    margin:0;
    padding:0;
    list-style: none;
}
.box{
    width: 100%;
    height: 0.75rem;
    background: #00a2ed;
    display: flex;
    padding-top: 0.35rem;
}
.box img{
    height: 0.4rem;
    vertical-align: middle;
}
.box_img1{
    margin-left: 0.5rem;
}
.box_img2{
    margin-left: 1.8rem;
}
.box_img3{
    margin-left: 0.7rem;
}
.box_img4{
    margin-left: 0.5rem;
}
.box_img5{
    margin-left: 0.5rem;
}
.box_span{
    color: #ffffff;
    /*margin-left: 0.1rem;*/
    margin-top: 0.05rem;
}

/*banner图的部分*/
.banner{
    position: relative;
    padding: 0 0.4rem;
    height: 5rem;
    margin-top: 1.1rem;
}
.bannerImg{
    height: 5rem;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.banner_posi{
    position: absolute;
    top:3.7rem;
}
.banner_H2{
    font-size: 0.36rem;
    font-weight: 400;
    color: #ffffff;
}
.banner_div{
    font-size: 0.2rem;
    margin-left: 4.1rem;
    color: #bcbcbc;
    margin-top: 0.3rem;
}

/*详情*/
.font_name{
    display: flex;
}
.font{
    height: 1rem;
    padding: 0 0.3rem;
}
.font_img{
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.2rem 0.2rem 0 0;
}
.font_H3{
    font-size: 0.3rem;
    width: 1rem;
    line-height: 1rem;
}
.font_P{
    color: #999999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1rem;
}
.font_PP{
    font-size: 0.3rem;
    line-height: 0.5rem;
}

/*分享*/

.opcitve_meng{
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top:0;
    left: 0;
    opacity: 0.5;
}

.opcitveUl li{
    float: left;
    margin-left: 0.25rem;
    margin-top: 0.4rem;
}
.opcitveUl div{
    text-align: center;
}
.opcitveUl svg{
    margin-left: 0.05rem;
}
.opcitveDiv{
    width: 5.5rem;
    height: 7rem;
    background: #ffffff;
    position: fixed;
    z-index: 9999;
    margin: 1.5rem 0.85rem;
    top:0;
    left: 0;
}
.opcitveH3{
    margin-top: 0.5rem;
    margin-left: 0.55rem;
    font-size: 0.38rem;
}
#yin{
    display: none;
}

